@import "tailwindcss";


/* Paleta do projeto */
:root {
  --cream: #fdfbf7;
  --terracotta: #e7d6c7;
  --brown: #4a2c2a;
  --rose: #a86f6f;
  --teal: #2fb3b5;
}

html, body, #__next, #root {
  height: 100%;
}

body {
  background: var(--cream);
  color: var(--brown);
}
